<h1><%= @item.titleize %>'s Tweets</h1>
<ul>
<% @whatevs.tweet.each do |tweeters| %>
        <li><%= tweeters.description %> 
            | <%= link_to "Show", controller: "tweets", action: "show", id: tweeters.id   %> 
            <% if user_signed_in? %>
                <% if current_user.id == tweeters.user_id %>
                    | <%= link_to 'Edit', edit_tweet_path(tweeters.id) %> 
                    | <%= link_to 'Destroy', tweet_path(tweeters.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>    

<br/>

